<%- include('../partials/header')%>
<h1>Edit Activity</h1>
<form action="/activities/<%= activity._id %>/update?_method=PUT" method="POST" >
    <label>Activity Name:</label>
        <input value="<%= activity.activityName %>" type="text" name="activityName"></input>
    </br>
    <label>Description: </label>
    
        <textarea value="<%= activity.description%>" type="text" name="description" rows="4" cols="50">
</textarea>
   </br>
    <label>Location</label>
        <select value="<%= activity.location %>" type="text" name="location">
            <option value="North Shore">North Shore</option>
            <option value="West Shore">West Shore</option>
            <option value="South Shore">South Shore</option>
            <option value="East Shore">East Shore</option>
            <option value="Inland">Inland</option>
            <option value="Waikiki">Waikiki</option>
        </select>
    </br>
    <label>Activity Type</label>
        <select value="<%= activity.activityType %>"type="text" name="activityType">
            <option value="Hiking">Hiking</option>
            <option value="Thrilling Adventure">Thrilling Adventure</option>
            <option value="Water Sport">Water Sport</option>
            <option value="Beach">Beaches</option>
            <option value="Cultural">Cultural</option>
            <option value="Food">Food</option>

        </select>
    </br>
    <input type="submit" value="Edit Activity">
</form>
<%- include('../partials/footer')%>