<%- include('../partials/header')%>
<h1 class="header-center"> Activities List</h1>
<a class="new-activity" href="/activities/new">+ NEW ACTIVITY</a>
<table class="index-table">
    <thead class="index-head">
        <th>Activity</th>
        <th>Description</th>
        <th>Location</th>
        <th>Activity Type</th>
        <th>Details</th>

    </thead>

    <tbody class="index-body">
        <% activities.forEach(function(a) {%>
            <tr>
                <td><%= a.activityName%></td>
                <td><%= a.description%></td>
                <td><%= a.location%></td>
                <td><%= a.activityType%></td>
                <td><a href="/activities/<%=a.id%>">See More</a></td>
                <td>
                    <form action="/activities/<%=a.id%>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form></td>
            </tr>
            <% }); %>
    </tbody>

</table>



<%- include('../partials/footer')%>