<%- include('../partials/header')%>
<h1><%=activity.activityName%></h1>
<section>
    <div>Description</div>
    <div><%= activity.description%></div>
</br>   
    <div>Location:</div>
    <div><%= activity.location%></div>
</br>  
    <div>Type</div>
    <div><%= activity.activityType%></div>
</section>

</br></br>
<h2>Reviews</h2>
<% if (user) { %>
    <form>
        <label>Review:</label>
    </form>



<%- include('../partials/footer')%>