<%- include('../partials/header')%>
<h1><%=activity.activityName%></h1>
<section>
    <div>Description</div>
    <div><%= activity.description%></div>
</br>   
    <div>Location:</div>
    <div><%= activity.location%></div>
</br>  
    <div>Type</div>
    <div><%= activity.activityType%></div>
</section>


<%- include('../partials/footer')%>