<%- include('../partials/header')%>
<h1><%=activity.activityName%></h1>
<section>
    <div>Description</div>
    <div><%= activity.description%></div>
</br>   
    <div>Location:</div>
    <div><%= activity.location%></div>
</br>  
    <div>Type</div>
    <div><%= activity.activityType%></div>
    <form action="/activities/<%= activity.id %>/editActivities" method="GET">
    <button type="submit">Edit</button>
</form>
</section>

</br></br>
<h2>Reviews</h2>

<% if (user) { %>
    <form action="/activities/<%=activity.id%>/reviews" method="POST">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>
<% } %>

<%if (activity.reviews.length) { %>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% let total = 0 %>
            <% activity.reviews.forEach(function(a) { %>
                <% total += a.rating %>
                <tr>
                    <td class="review-info"><img src="<%= a.userAvatar %>"><%= a.userName %></td>
                    <td><%= a.createdAt.toLocaleDateString() %></td>
                    <td><%= a.content%></td>
                    <td><%= a.rating%></td>
                    <td>
                        <% if (user && user._id.equals(a.user)) { %>
                        <form action="/activities/<%= activity.id %>/editReview" method="GET">
                            <button type="submit">Edit</button>
                        </form>   
                        <% } %>
                    </td>
                    <td>
                        <% if (user && user._id.equals(a.user)) { %>
                          <form action="/reviews/<%= a._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                          </form>
                        <% } %>
                      </td>
                </tr>

<% })  %>
<tr>
    <td colspan="3"></td>
      <td><strong><%= (total / activity.reviews.length).toFixed(1) %></strong></td>
</tr>
        </tbody>
    </table>

<% } else { %>
<h4>No Reviews Yet</h4>
<% } %>





<%- include('../partials/footer')%>