<%- include('../partials/header')%>
<h1><%=activity.activityName%></h1>
<section>
    <div>Description</div>
    <div><%= activity.description%></div>
</br>   
    <div>Location:</div>
    <div><%= activity.location%></div>
</br>  
    <div>Type</div>
    <div><%= activity.activityType%></div>
    <a href="/activitities/<%= activity.id %>/edit">Edit</a>

</section>

</br></br>
<h2>Reviews</h2>

<% if (user) { %>
    <form action="/activities/<%=activity.id%>/reviews" method="POST">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>
<% } %>

<%if (activity.reviews.length) { %>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% activity.reviews.forEach(function(a) { %>
                <tr>
                    <td><img src="<%= a.userAvatar %>"><%= a.userName %></td>
                    <td><%= a.createdAt.toLocaleDateString() %></td>
                    <td><%= a.content%></td>
                    <td><%= a.rating%></td>
                    <td><a href="/<%= activity.id %>/reviews/editReview">Edit</a></td>
                </tr>

<% })  %>
        </tbody>
    </table>

<% } else { %>
<h4>No Reviews Yet</h4>
<% } %>





<%- include('../partials/footer')%>